[submodule "vendor/Symfony/Component/Yaml"]
	path = vendor/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml.git
[submodule "vendor/php-amqplib"]
	path = vendor/php-amqplib
	url = https://github.com/videlalvaro/php-amqplib.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = https://github.com/Seldaek/monolog.git
